streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
faiss-cpu
sentence-transformers
huggingface-hub
python-dotenv
torch
transformers
numpy
pandas
scikit-learn
scipy
requests
tqdm

